
<button (click)= "generateNumbers()">New numbers</button>

<table>
  <tbody>
  <div class="container" *ngFor="let randomNumber of numbers">
    <div >{{randomNumber}}</div>
  </div>
  </tbody>
</table>
