button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

div{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  /*margin:0  10px;*/
}
.container{
  display: inline-block;
}
